<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{.Name}}'s Information</title>
  
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Permission Based 2FA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
          </ul>
        </div>
    </nav>

    {{if .UsingIOT  }}
        {{if .IsVerified }}
            
            <div style="padding-top: 50px; padding-left: 30%;">
                <div class="card" style="width: 500px;">
                    <div class="card-header">
                        <h3>Welcome {{.Name}}!</h3>
                    </div>
                    <div class="card-body">
                        <p>Below is some of your personal information:</p>
                        <form>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="name" value="{{.Name}}" readonly />
                            </div>
                            <div class="form-group">
                                <label>Public ID</label>
                                <input type="text" class="form-control" name="pubid" value="{{.PublicID}}" readonly />
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email" value="{{.Email}}" readonly />
                            </div>
                            <div class="form-group">
                                <label>Using IOT</label>
                                <input type="text" class="form-control" name="iot" value="{{.UsingIOT}}" readonly />
                            </div>
                            <div class="form-group">
                                <label>Security Questions</label>
                                <div class="form-row align-items-center">
                                    <select name="sec1" class="custom-select mr-sm-2">
                                        <option>{{.Question1}}</option>
                                        
                                    </select>
                                    
                                </div><br />
                                
                                <div class="form-row align-items-center">
                                    <select name="sec2" class="custom-select mr-sm-2">
                                        <option>{{.Question2}} </option>
                                    </select>
                                    
                                </div><br />
                                
                                <div class="form-row align-items-center">
                                    <select name="sec3" class="custom-select mr-sm-2">
                                        <option>{{.Question3}}</option> 
                                    </select>
                                    
                                </div>
                                
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        {{else}}
            <div style="padding-top: 50px; padding-left: 30%;">
                <div class="card" style="width: 500px;">
                    <div class="card-header">
                        <h3>Welcome {{.Name}}!</h3>
                    </div>
                    <div class="card-body">
                        <p>Below is some of your limited personal information.</p>
                        <p>To view all of your personal information, please verify the IOT device connected to your account.</p>
                        <form>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="name" value="{{.Name}}" readonly />
                            </div>
                            <div class="form-group">
                                <label>Public ID</label>
                                <input type="text" class="form-control" name="pubid" value="{{.PublicID}}" readonly />
                            </div>
                            <div class="form-group">
                                <label>Using IOT</label>
                                <input type="text" class="form-control" name="iot" value="{{.UsingIOT}}" readonly />
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        {{end}}
    {{else}}
        <div style="padding-top: 50px; padding-left: 30%;">
            <div class="card" style="width: 500px;">
                <div class="card-header">
                    <h3>Welcome {{.Name}}!</h3>
                </div>
                <div class="card-body">
                    <p>Below is some of your limited personal information.</p>
                    <p>To view all of your personal information, please connect an IOT device to your account.</p>
                    <form>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name" value="{{.Name}}" readonly />
                        </div>
                        <div class="form-group">
                            <label>Public ID</label>
                            <input type="text" class="form-control" name="pubid" value="{{.PublicID}}" readonly />
                        </div>
                        <div class="form-group">
                            <label>Using IOT</label>
                            <input type="text" class="form-control" name="iot" value="{{.UsingIOT}}" readonly />
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    {{end}}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
